---
http_interactions:
- request:
    method: get
    uri: http://parse.name/names/parse.json?q=Tyler%20Vannurden,%20Agent&token=c104048a-1f32-467c-9022-4b90d8893f85
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Timeout:
      - '5'
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - W/"c4ffe73710cfdc992b1e3285b060ce5b"
      Status:
      - 200 OK
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"name_like_score":2,"id":9198824,"uuid":"5eeaa231-26f8-45c4-b237-04358b3f9f36","language":"en","input":"tyler
        vannurden, agent","parse_status":200,"parse_method":"R","parser_version":24,"contains_aka_or_fka":false,"people_cache":[{"id":444870,"given_name":"Tyler","surname":"Vannurden","secondary_name":"","suffix":"","prefix":"","salutation":"","alternate_name":"","credentials":"","uuid":"337e1d81-5e98-4eda-921c-2d7bcf82f165","language":"en","gender":null,"created_by_user_id":null,"updated_by_user_id":null,"created_at":"2018-02-06T16:04:35.000Z","updated_at":"2018-02-06T16:04:35.000Z"}],"organizations_cache":[],"job_titles_cache":null,"credentials_cache":null,"email_addresses_cache":null,"telephones_cache":null,"created_by_user_id":null,"updated_by_user_id":null,"created_at":"2019-05-28T23:00:11.000Z","updated_at":"2019-05-28T23:00:11.000Z"}'
  recorded_at: Tue, 28 May 2019 23:01:06 GMT
- request:
    method: get
    uri: https://v2.parse.name/api/v2/names/parse?locale=en-US&q=Tyler%20Vannurden,%20Agent
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - 66039622-9040-4964-bfe2-8ce4d1176724
      Timeout:
      - '5'
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - W/"2af60e2b68233bd1173768f9b87bc44a"
      Status:
      - 200 OK
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"base":{"input":"Tyler Vannurden, Agent","locale":"en-US"},"name":[{"given_name":"Tyler","surname":"Vannurden","job_title":["Agent"],"input_placement_scores":{"[\"given_name\",
        \"surname\"]":1.514,"[\"surname\", \"given_name\"]":0.486,"max_candidate":["given_name","surname"]},"full_name":"Tyler
        Vannurden"}]}'
  recorded_at: Tue, 28 May 2019 23:01:06 GMT
recorded_with: VCR 4.0.0
