---
http_interactions:
- request:
    method: get
    uri: http://parse.name/names/parse.json?q=Tyler%20Roman%20Catholic&token=c104048a-1f32-467c-9022-4b90d8893f85
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Timeout:
      - '5'
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - W/"71b0a9ea567216d956d8200a7ff58132"
      Status:
      - 200 OK
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"name_like_score":2,"id":9198815,"uuid":"6389069b-09e4-480d-94a9-5821e202e213","language":"en","input":"tyler
        roman catholic","parse_status":200,"parse_method":"R","parser_version":24,"contains_aka_or_fka":false,"people_cache":[{"id":8158037,"uuid":"5d31f0e7-4c48-42bf-a5d7-096286bf9131","language":"en","salutation":"","prefix":"","given_name":"Tyler","secondary_name":"","surname":"Roman
        Catholic","suffix":"","alternate_name":"","credentials":"","gender":null,"created_by_user_id":null,"updated_by_user_id":null,"created_at":"2019-05-28T22:47:11.805Z","updated_at":"2019-05-28T22:47:11.805Z"}],"organizations_cache":[],"job_titles_cache":null,"credentials_cache":null,"email_addresses_cache":null,"telephones_cache":null,"created_by_user_id":null,"updated_by_user_id":null,"created_at":"2019-05-28T22:47:12.000Z","updated_at":"2019-05-28T22:47:12.000Z"}'
  recorded_at: Tue, 28 May 2019 22:48:21 GMT
- request:
    method: get
    uri: https://v2.parse.name/api/v2/names/parse?locale=en-US&q=Tyler%20Roman%20Catholic
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - 66039622-9040-4964-bfe2-8ce4d1176724
      Timeout:
      - '5'
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - W/"9a0aab78a773eb3aa2d4453c1344dd60"
      Status:
      - 200 OK
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"base":{"input":"Tyler Roman Catholic","locale":"en-US"},"organization":[{"name":"Tyler
        Roman Catholic"}]}'
  recorded_at: Tue, 28 May 2019 22:48:21 GMT
recorded_with: VCR 4.0.0
