---
http_interactions:
- request:
    method: get
    uri: http://parse.name/names/parse.json?q=tyler&token=c104048a-1f32-467c-9022-4b90d8893f85
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Timeout:
      - '5'
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - W/"4f9cf62a3ed848a9e45196b8d5a41c52"
      Status:
      - 200 OK
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"id":null,"uuid":null,"language":"en","input":"tyler","parse_status":602,"parse_method":"R","parser_version":24,"contains_aka_or_fka":false,"people_cache":null,"organizations_cache":null,"job_titles_cache":null,"credentials_cache":null,"email_addresses_cache":null,"telephones_cache":null,"created_by_user_id":null,"updated_by_user_id":null,"created_at":null,"updated_at":null,"name_like_score":1}'
  recorded_at: Tue, 28 May 2019 22:31:53 GMT
- request:
    method: get
    uri: https://v2.parse.name/api/v2/names/parse?locale=en-US&q=tyler
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - 66039622-9040-4964-bfe2-8ce4d1176724
      Timeout:
      - '5'
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Status:
      - 400 Bad Request
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"base":{"input":"tyler","locale":"en-US","errors":{"input":["could
        not be distinguished between a name or organization"]}}}'
  recorded_at: Tue, 28 May 2019 22:31:53 GMT
recorded_with: VCR 4.0.0
