--- 
http_interactions: 
- request: 
    method: get
    uri: http://parse.name/names/parse.json?token=7d112490-ff1e-4759-9af1-a3b30a2cc87a&q=a+b+c+d+e+f+g+h+i+j+k+l+m+n+o+p
    body: 
      string: ""
    headers: 
      timeout: 
      - "5"
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      content-type: 
      - application/json; charset=utf-8
      etag: 
      - W/"4cb2b00f3ab63928aa3d01e51edfa64c"
      status: 
      - 200 OK
    body: 
      string: "{\"id\":null,\"uuid\":null,\"language\":\"en\",\"input\":\"a b c d e f g h i j k l m n o p\",\"parse_status\":602,\"parse_method\":\"R\",\"parser_version\":24,\"contains_aka_or_fka\":false,\"people_cache\":null,\"organizations_cache\":null,\"job_titles_cache\":null,\"credentials_cache\":null,\"email_addresses_cache\":null,\"telephones_cache\":null,\"created_by_user_id\":null,\"updated_by_user_id\":null,\"created_at\":null,\"updated_at\":null,\"name_like_score\":16}"
  recorded_at: Fri, 21 Jun 2019 17:28:33 GMT
- request: 
    method: get
    uri: https://v2.parse.name/api/v2/names/parse?locale=en-US&q=a+b+c+d+e+f+g+h+i+j+k+l+m+n+o+p
    body: 
      string: ""
    headers: 
      authorization: 
      - 66039622-9040-4964-bfe2-8ce4d1176724
      timeout: 
      - "5"
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      content-type: 
      - application/json; charset=utf-8
      etag: 
      - W/"14b20e1fa1c4d89c6444c71e6e66c63b"
      status: 
      - 200 OK
    body: 
      string: "{\"base\":{\"input\":\"a b c d e f g h i j k l m n o p\",\"locale\":\"en-US\",\"errors\":{\"input\":[\"is suspiciously long\"]}}}"
  recorded_at: Fri, 21 Jun 2019 17:28:36 GMT
recorded_with: VCR 2.9.2
