--- 
recorded_with: VCR 2.9.2
http_interactions: 
- request: 
    method: get
    uri: https://v2.parse.name/api/v2/names/parse?locale=en-US&q=tyler
    body: 
      string: ""
    headers: 
      authorization: 
      - 66039622-9040-4964-bfe2-8ce4d1176724
      timeout: 
      - "5"
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      etag: 
      - W/"a68099d04bd77aee0e8ceea861d7f112"
      status: 
      - 200 OK
      content-type: 
      - application/json; charset=utf-8
    body: 
      string: "{\"base\":{\"input\":\"tyler\",\"locale\":\"en-US\",\"errors\":{\"input\":[\"could not be distinguished between a name or organization\"]}}}"
  recorded_at: Fri, 21 Jun 2019 14:57:53 GMT
