---
http_interactions:
- request:
    method: get
    uri: https://v2.parse.name/api/v2/names/parse?locale=en-US&q=tyler
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - 66039622-9040-4964-bfe2-8ce4d1176724
      Timeout:
      - '5'
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Status:
      - 400 Bad Request
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"base":{"input":"tyler","locale":"en-US","errors":{"input":["could
        not be distinguished between a name or organization"]}}}'
  recorded_at: Sun, 26 May 2019 17:45:24 GMT
recorded_with: VCR 4.0.0
