---
http_interactions:
- request:
    method: get
    uri: http://parse.name/names/parse.json?q=BAGENSTOSE%20ABNER%20H%20III&token=7d112490-ff1e-4759-9af1-a3b30a2cc87a
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Timeout:
      - '5'
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - W/"2429ec4f7b08964b00ddd880699aaa1f"
      Status:
      - 200 OK
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"name_like_score":3,"id":492093,"uuid":"247dc424-c3ed-4d52-b117-f29b2ee3a976","language":"en","input":"bagenstose
        abner h iii","parse_status":200,"parse_method":"R","parser_version":24,"contains_aka_or_fka":false,"people_cache":[{"id":473681,"uuid":"f1202c63-c843-4314-96bd-2f74f6325741","language":"en","salutation":"","prefix":"","given_name":"Abner","secondary_name":"H","surname":"Bagenstose","suffix":"III","alternate_name":"","credentials":"","gender":null,"created_by_user_id":null,"updated_by_user_id":null,"created_at":"2018-02-07T20:12:55.931Z","updated_at":"2018-02-07T20:12:55.931Z"}],"organizations_cache":[],"job_titles_cache":null,"credentials_cache":null,"email_addresses_cache":null,"telephones_cache":null,"created_by_user_id":null,"updated_by_user_id":null,"created_at":"2018-02-07T20:12:56.000Z","updated_at":"2018-02-07T20:12:56.000Z"}'
  recorded_at: Fri, 21 Jun 2019 00:28:22 GMT
- request:
    method: get
    uri: https://v2.parse.name/api/v2/names/parse?locale=en-US&q=BAGENSTOSE%20ABNER%20H%20III
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - 66039622-9040-4964-bfe2-8ce4d1176724
      Timeout:
      - '5'
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - W/"16beda1dc49a7176fdd401e73bdbacf2"
      Status:
      - 200 OK
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"base":{"input":"BAGENSTOSE ABNER H III","locale":"en-US"},"name":[{"given_name":"Abner","secondary_name":"H","surname":"Bagenstose","suffix":["III"],"input_placement_scores":{"[\"given_name\",
        \"surname\"]":0.53,"[\"surname\", \"given_name\"]":1.47,"max_candidate":["surname","given_name"]},"full_name":"Abner
        H Bagenstose"}]}'
  recorded_at: Fri, 21 Jun 2019 00:28:23 GMT
recorded_with: VCR 4.0.0
