---
http_interactions:
- request:
    method: get
    uri: http://parse.name/names/parse.json?q=tyler%20vannurden&token=c104048a-1f32-467c-9022-4b90d8893f85
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Timeout:
      - '5'
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - W/"b9426689725a4e9720b2cc4f588ac486"
      Status:
      - 200 OK
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"name_like_score":2,"id":7439368,"uuid":"edac9337-102a-4ed7-976b-e60b2eea6370","language":"en","input":"tyler
        vannurden","parse_status":200,"parse_method":"R","parser_version":24,"contains_aka_or_fka":false,"people_cache":[{"id":444870,"given_name":"Tyler","surname":"Vannurden","secondary_name":"","suffix":"","prefix":"","salutation":"","alternate_name":"","credentials":"","uuid":"337e1d81-5e98-4eda-921c-2d7bcf82f165","language":"en","gender":null,"created_by_user_id":null,"updated_by_user_id":null,"created_at":"2018-02-06T16:04:35.000Z","updated_at":"2018-02-06T16:04:35.000Z"}],"organizations_cache":[],"job_titles_cache":null,"credentials_cache":null,"email_addresses_cache":null,"telephones_cache":null,"created_by_user_id":null,"updated_by_user_id":null,"created_at":"2019-02-01T04:06:47.000Z","updated_at":"2019-02-01T04:06:47.000Z"}'
  recorded_at: Tue, 28 May 2019 21:34:58 GMT
- request:
    method: get
    uri: https://v2.parse.name/api/v2/names/parse?locale=en-US&q=tyler%20vannurden
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - 66039622-9040-4964-bfe2-8ce4d1176724
      Timeout:
      - '5'
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - W/"c6a0024a0c88534c0243db91c3c9f707"
      Status:
      - 200 OK
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"base":{"input":"tyler vannurden","locale":"en-US"},"name":[{"given_name":"Tyler","surname":"Vannurden","input_placement_scores":{"[\"given_name\",
        \"surname\"]":1.514,"[\"surname\", \"given_name\"]":0.486,"max_candidate":["given_name","surname"]},"full_name":"Tyler
        Vannurden"}]}'
  recorded_at: Tue, 28 May 2019 21:34:59 GMT
recorded_with: VCR 4.0.0
