---
http_interactions:
- request:
    method: get
    uri: http://parse.name/names/parse.json?q=Mr.%20Senator%20Hank%20Aaron,%20PhD&token=7d112490-ff1e-4759-9af1-a3b30a2cc87a
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Timeout:
      - '5'
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - W/"020ec58f5b0c64c7d51bba03930c23e5"
      Status:
      - 200 OK
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"id":9577810,"uuid":"62777041-5ecc-44ca-bbf9-52c6a81f63a0","language":"en","input":"mr
        senator hank aaron, phd","parse_status":200,"parse_method":"R","parser_version":24,"contains_aka_or_fka":false,"people_cache":[{"id":8506220,"given_name":"Aaron","surname":"Hank","secondary_name":"","suffix":"","prefix":"Senator","salutation":"Mr","alternate_name":"","credentials":"PhD","uuid":"9c5ab93c-f2bd-4fc5-9b52-418b4a32456e","language":"en","gender":null,"created_by_user_id":null,"updated_by_user_id":null,"created_at":"2019-06-21T13:43:12.000Z","updated_at":"2019-06-21T13:43:12.000Z"}],"organizations_cache":[],"job_titles_cache":null,"credentials_cache":null,"email_addresses_cache":null,"telephones_cache":null,"created_by_user_id":null,"updated_by_user_id":null,"created_at":"2019-06-21T13:49:31.605Z","updated_at":"2019-06-21T13:49:31.605Z","name_like_score":3}'
  recorded_at: Fri, 21 Jun 2019 13:49:31 GMT
- request:
    method: get
    uri: https://v2.parse.name/api/v2/names/parse?locale=en-US&q=Mr.%20Senator%20Hank%20Aaron,%20PhD
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - 66039622-9040-4964-bfe2-8ce4d1176724
      Timeout:
      - '5'
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - W/"62968cc0094a84072be33b2d0a78ea55"
      Status:
      - 200 OK
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"base":{"input":"Mr. Senator Hank Aaron, PhD","locale":"en-US"},"name":[{"salutation":["Mr"],"prefix":["Senator"],"given_name":"Aaron","surname":"Hank","credential":["PhD"],"input_placement_scores":{"[\"given_name\",
        \"surname\"]":0.986,"[\"surname\", \"given_name\"]":1.014,"max_candidate":["surname","given_name"]},"full_name":"Aaron
        Hank"}]}'
  recorded_at: Fri, 21 Jun 2019 13:49:32 GMT
recorded_with: VCR 4.0.0
