---
http_interactions:
- request:
    method: get
    uri: https://v2.parse.name/api/v2/names/parse?locale=en-US&q=tyler%20vannurden,%20first%20movers%20advantage
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - 66039622-9040-4964-bfe2-8ce4d1176724
      Timeout:
      - '5'
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - W/"0c8619e5dbf5496e17d2d32fc381ae1c"
      Status:
      - 200 OK
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"base":{"input":"tyler vannurden, first movers advantage","locale":"en-US"},"name":[{"given_name":"Tyler","surname":"Vannurden","input_placement_scores":{"[\"given_name\",
        \"surname\"]":1.514,"[\"surname\", \"given_name\"]":0.486,"max_candidate":["given_name","surname"]},"full_name":"Tyler
        Vannurden"}],"organization":[{"name":"First Movers Advantage"}]}'
  recorded_at: Sun, 26 May 2019 17:45:26 GMT
recorded_with: VCR 4.0.0
