--- 
http_interactions: 
- request: 
    method: get
    uri: https://v2.parse.name/api/v2/names/parse?locale=en-US&q=tyler+vannurden%2C+first+movers+advantage
    body: 
      string: ""
    headers: 
      timeout: 
      - "5"
      authorization: 
      - 66039622-9040-4964-bfe2-8ce4d1176724
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      etag: 
      - W/"0c8619e5dbf5496e17d2d32fc381ae1c"
      content-type: 
      - application/json; charset=utf-8
      status: 
      - 200 OK
    body: 
      string: "{\"base\":{\"input\":\"tyler vannurden, first movers advantage\",\"locale\":\"en-US\"},\"name\":[{\"given_name\":\"Tyler\",\"surname\":\"Vannurden\",\"input_placement_scores\":{\"[\\\"given_name\\\", \\\"surname\\\"]\":1.514,\"[\\\"surname\\\", \\\"given_name\\\"]\":0.486,\"max_candidate\":[\"given_name\",\"surname\"]},\"full_name\":\"Tyler Vannurden\"}],\"organization\":[{\"name\":\"First Movers Advantage\"}]}"
  recorded_at: Fri, 07 Jun 2019 18:54:40 GMT
recorded_with: VCR 2.9.2
