--- 
recorded_with: VCR 2.9.2
http_interactions: 
- request: 
    method: get
    uri: https://v2.parse.name/api/v2/names/parse?locale=en-US&q=mr.+tyler+kenneth+vannurden%2C+President
    body: 
      string: ""
    headers: 
      timeout: 
      - "5"
      authorization: 
      - 66039622-9040-4964-bfe2-8ce4d1176724
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      content-type: 
      - application/json; charset=utf-8
      status: 
      - 200 OK
      etag: 
      - W/"1317a6d6af04a10fd03e13f50736dc9e"
    body: 
      string: "{\"base\":{\"input\":\"mr. tyler kenneth vannurden, President\",\"locale\":\"en-US\"},\"name\":[{\"salutation\":[\"Mr\"],\"given_name\":\"Tyler\",\"secondary_name\":\"Kenneth\",\"surname\":\"Vannurden\",\"job_title\":[\"President\"],\"input_placement_scores\":{\"[\\\"surname\\\", \\\"given_name\\\", \\\"secondary_name\\\"]\":1.483,\"[\\\"given_name\\\", \\\"secondary_name\\\", \\\"surname\\\"]\":2.512,\"[\\\"surname\\\", \\\"surname\\\", \\\"given_name\\\"]\":0.439,\"[\\\"given_name\\\", \\\"surname\\\", \\\"surname\\\"]\":1.365,\"[\\\"surname\\\", \\\"given_name\\\", \\\"surname\\\"]\":2.235,\"max_candidate\":[\"given_name\",\"secondary_name\",\"surname\"]},\"full_name\":\"Tyler Kenneth Vannurden\"}]}"
  recorded_at: Fri, 21 Jun 2019 14:46:17 GMT
