---
http_interactions:
- request:
    method: get
    uri: http://parse.name/names/parse.json?q=First%20Movers%20Advantage&token=c104048a-1f32-467c-9022-4b90d8893f85
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Timeout:
      - '5'
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - W/"b4d45066e2f4025f28e6c5327d434464"
      Status:
      - 200 OK
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"id":null,"uuid":null,"language":"en","input":"first movers advantage","parse_status":602,"parse_method":"R","parser_version":24,"contains_aka_or_fka":false,"people_cache":null,"organizations_cache":null,"job_titles_cache":null,"credentials_cache":null,"email_addresses_cache":null,"telephones_cache":null,"created_by_user_id":null,"updated_by_user_id":null,"created_at":null,"updated_at":null,"name_like_score":0}'
  recorded_at: Tue, 28 May 2019 22:48:17 GMT
- request:
    method: get
    uri: https://v2.parse.name/api/v2/names/parse?locale=en-US&q=First%20Movers%20Advantage
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - 66039622-9040-4964-bfe2-8ce4d1176724
      Timeout:
      - '5'
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - W/"85f729433daf42e17afa117cb0d45c90"
      Status:
      - 200 OK
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"base":{"input":"First Movers Advantage","locale":"en-US"},"organization":[{"name":"First
        Movers Advantage"}]}'
  recorded_at: Tue, 28 May 2019 22:48:18 GMT
recorded_with: VCR 4.0.0
