--- 
http_interactions: 
- request: 
    method: get
    uri: http://parse.name/names/parse.json?token=7d112490-ff1e-4759-9af1-a3b30a2cc87a&q=First+Movers+Advantage
    body: 
      string: ""
    headers: 
      timeout: 
      - "5"
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      etag: 
      - W/"b4d45066e2f4025f28e6c5327d434464"
      content-type: 
      - application/json; charset=utf-8
      status: 
      - 200 OK
    body: 
      string: "{\"id\":null,\"uuid\":null,\"language\":\"en\",\"input\":\"first movers advantage\",\"parse_status\":602,\"parse_method\":\"R\",\"parser_version\":24,\"contains_aka_or_fka\":false,\"people_cache\":null,\"organizations_cache\":null,\"job_titles_cache\":null,\"credentials_cache\":null,\"email_addresses_cache\":null,\"telephones_cache\":null,\"created_by_user_id\":null,\"updated_by_user_id\":null,\"created_at\":null,\"updated_at\":null,\"name_like_score\":0}"
  recorded_at: Fri, 07 Jun 2019 18:54:34 GMT
- request: 
    method: get
    uri: https://v2.parse.name/api/v2/names/parse?locale=en-US&q=First+Movers+Advantage
    body: 
      string: ""
    headers: 
      timeout: 
      - "5"
      authorization: 
      - 66039622-9040-4964-bfe2-8ce4d1176724
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      etag: 
      - W/"85f729433daf42e17afa117cb0d45c90"
      content-type: 
      - application/json; charset=utf-8
      status: 
      - 200 OK
    body: 
      string: "{\"base\":{\"input\":\"First Movers Advantage\",\"locale\":\"en-US\"},\"organization\":[{\"name\":\"First Movers Advantage\"}]}"
  recorded_at: Fri, 07 Jun 2019 18:54:34 GMT
recorded_with: VCR 2.9.2
