--- 
http_interactions: 
- request: 
    method: get
    uri: http://parse.name/names/parse.json?token=7d112490-ff1e-4759-9af1-a3b30a2cc87a&q=tyler+vannurden
    body: 
      string: ""
    headers: 
      timeout: 
      - "5"
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      etag: 
      - W/"b9426689725a4e9720b2cc4f588ac486"
      content-type: 
      - application/json; charset=utf-8
      status: 
      - 200 OK
    body: 
      string: "{\"name_like_score\":2,\"id\":7439368,\"uuid\":\"edac9337-102a-4ed7-976b-e60b2eea6370\",\"language\":\"en\",\"input\":\"tyler vannurden\",\"parse_status\":200,\"parse_method\":\"R\",\"parser_version\":24,\"contains_aka_or_fka\":false,\"people_cache\":[{\"id\":444870,\"given_name\":\"Tyler\",\"surname\":\"Vannurden\",\"secondary_name\":\"\",\"suffix\":\"\",\"prefix\":\"\",\"salutation\":\"\",\"alternate_name\":\"\",\"credentials\":\"\",\"uuid\":\"337e1d81-5e98-4eda-921c-2d7bcf82f165\",\"language\":\"en\",\"gender\":null,\"created_by_user_id\":null,\"updated_by_user_id\":null,\"created_at\":\"2018-02-06T16:04:35.000Z\",\"updated_at\":\"2018-02-06T16:04:35.000Z\"}],\"organizations_cache\":[],\"job_titles_cache\":null,\"credentials_cache\":null,\"email_addresses_cache\":null,\"telephones_cache\":null,\"created_by_user_id\":null,\"updated_by_user_id\":null,\"created_at\":\"2019-02-01T04:06:47.000Z\",\"updated_at\":\"2019-02-01T04:06:47.000Z\"}"
  recorded_at: Fri, 07 Jun 2019 18:54:31 GMT
recorded_with: VCR 2.9.2
