---
http_interactions:
- request:
    method: get
    uri: http://parse.name/names/parse.json?q=tyler%20kenneth%20vannurden&token=c104048a-1f32-467c-9022-4b90d8893f85
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Timeout:
      - '5'
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - W/"9ff8192a1fc34c05a858e5c3eb2e770f"
      Status:
      - 200 OK
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"id":9169767,"uuid":"70103140-8ce1-422d-876f-a46d7783c652","language":"en","input":"tyler
        kenneth vannurden","parse_status":200,"parse_method":"R","parser_version":24,"contains_aka_or_fka":false,"people_cache":[{"id":8131695,"uuid":"89df72da-25b6-4f2f-a68d-a80ddd62a4ca","language":"en","salutation":"","prefix":"","given_name":"Tyler","secondary_name":"Kenneth","surname":"Vannurden","suffix":"","alternate_name":"","credentials":"","gender":null,"created_by_user_id":null,"updated_by_user_id":null,"created_at":"2019-05-25T22:03:46.844Z","updated_at":"2019-05-25T22:03:46.844Z"}],"organizations_cache":[],"job_titles_cache":null,"credentials_cache":null,"email_addresses_cache":null,"telephones_cache":null,"created_by_user_id":null,"updated_by_user_id":null,"created_at":"2019-05-25T22:03:46.861Z","updated_at":"2019-05-25T22:03:46.861Z","name_like_score":3}'
  recorded_at: Sat, 25 May 2019 22:03:46 GMT
recorded_with: VCR 4.0.0
