---
http_interactions:
- request:
    method: get
    uri: http://parse.name/names/parse.json?q=mr.%20tyler%20kenneth%20vannurden&token=c104048a-1f32-467c-9022-4b90d8893f85
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Timeout:
      - '5'
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - W/"08c275d18085da12e9ee52cd7e80d965"
      Status:
      - 200 OK
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"name_like_score":3,"id":8959546,"uuid":"a1a2015b-77af-4845-a7ac-ccb800b52e94","language":"en","input":"mr
        tyler kenneth vannurden","parse_status":200,"parse_method":"R","parser_version":24,"contains_aka_or_fka":false,"people_cache":[{"id":7939608,"given_name":"Tyler","surname":"Vannurden","secondary_name":"Kenneth","suffix":"","prefix":"","salutation":"Mr","alternate_name":"","credentials":"","uuid":"e5ef6eb9-9032-4917-a2e8-31fefd8b0970","language":"en","gender":null,"created_by_user_id":null,"updated_by_user_id":null,"created_at":"2019-05-13T02:10:35.000Z","updated_at":"2019-05-13T02:10:35.000Z"}],"organizations_cache":[],"job_titles_cache":null,"credentials_cache":null,"email_addresses_cache":null,"telephones_cache":null,"created_by_user_id":null,"updated_by_user_id":null,"created_at":"2019-05-13T02:42:08.000Z","updated_at":"2019-05-13T02:42:08.000Z"}'
  recorded_at: Sat, 25 May 2019 21:36:16 GMT
recorded_with: VCR 4.0.0
