--- 
recorded_with: VCR 2.9.2
http_interactions: 
- request: 
    method: get
    uri: http://parse.name/names/parse.json?token=7d112490-ff1e-4759-9af1-a3b30a2cc87a&q=tyler+kenneth+vannurden
    body: 
      string: ""
    headers: 
      timeout: 
      - "5"
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      content-type: 
      - application/json; charset=utf-8
      status: 
      - 200 OK
      etag: 
      - W/"a3739cf3da165c7f30e3077c495b0469"
    body: 
      string: "{\"name_like_score\":3,\"id\":9169767,\"uuid\":\"70103140-8ce1-422d-876f-a46d7783c652\",\"language\":\"en\",\"input\":\"tyler kenneth vannurden\",\"parse_status\":200,\"parse_method\":\"R\",\"parser_version\":24,\"contains_aka_or_fka\":false,\"people_cache\":[{\"id\":8131695,\"uuid\":\"89df72da-25b6-4f2f-a68d-a80ddd62a4ca\",\"language\":\"en\",\"salutation\":\"\",\"prefix\":\"\",\"given_name\":\"Tyler\",\"secondary_name\":\"Kenneth\",\"surname\":\"Vannurden\",\"suffix\":\"\",\"alternate_name\":\"\",\"credentials\":\"\",\"gender\":null,\"created_by_user_id\":null,\"updated_by_user_id\":null,\"created_at\":\"2019-05-25T22:03:46.844Z\",\"updated_at\":\"2019-05-25T22:03:46.844Z\"}],\"organizations_cache\":[],\"job_titles_cache\":null,\"credentials_cache\":null,\"email_addresses_cache\":null,\"telephones_cache\":null,\"created_by_user_id\":null,\"updated_by_user_id\":null,\"created_at\":\"2019-05-25T22:03:47.000Z\",\"updated_at\":\"2019-05-25T22:03:47.000Z\"}"
  recorded_at: Fri, 21 Jun 2019 14:46:11 GMT
