---
http_interactions:
- request:
    method: get
    uri: http://parse.name/names/parse.json?q=first%20movers%20advantage,%20llc&token=c104048a-1f32-467c-9022-4b90d8893f85
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Timeout:
      - '5'
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - W/"0f4772c9dd30633d6217bed7166552de"
      Status:
      - 200 OK
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"name_like_score":0,"id":3783470,"uuid":"e596316b-610a-4fd3-9bba-0a511bb08d51","language":"en","input":"first
        movers advantage, llc","parse_status":200,"parse_method":"R","parser_version":24,"contains_aka_or_fka":false,"people_cache":[],"organizations_cache":[{"id":193971,"uuid":"9a89f502-7596-46ed-9cb8-5f7e9225986d","name":"First
        Movers Advantage, LLC","is_dba":null,"created_at":"2018-06-08T18:07:43.728Z","updated_at":"2018-06-08T18:07:43.728Z"}],"job_titles_cache":null,"credentials_cache":null,"email_addresses_cache":null,"telephones_cache":null,"created_by_user_id":null,"updated_by_user_id":null,"created_at":"2018-06-08T18:07:44.000Z","updated_at":"2018-06-08T18:07:44.000Z"}'
  recorded_at: Sat, 25 May 2019 22:00:18 GMT
recorded_with: VCR 4.0.0
