--- 
http_interactions: 
- request: 
    method: get
    uri: http://parse.name/names/parse.json?token=7d112490-ff1e-4759-9af1-a3b30a2cc87a&q=first+movers+advantage%2C+llc
    body: 
      string: ""
    headers: 
      timeout: 
      - "5"
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      etag: 
      - W/"0f4772c9dd30633d6217bed7166552de"
      content-type: 
      - application/json; charset=utf-8
      status: 
      - 200 OK
    body: 
      string: "{\"name_like_score\":0,\"id\":3783470,\"uuid\":\"e596316b-610a-4fd3-9bba-0a511bb08d51\",\"language\":\"en\",\"input\":\"first movers advantage, llc\",\"parse_status\":200,\"parse_method\":\"R\",\"parser_version\":24,\"contains_aka_or_fka\":false,\"people_cache\":[],\"organizations_cache\":[{\"id\":193971,\"uuid\":\"9a89f502-7596-46ed-9cb8-5f7e9225986d\",\"name\":\"First Movers Advantage, LLC\",\"is_dba\":null,\"created_at\":\"2018-06-08T18:07:43.728Z\",\"updated_at\":\"2018-06-08T18:07:43.728Z\"}],\"job_titles_cache\":null,\"credentials_cache\":null,\"email_addresses_cache\":null,\"telephones_cache\":null,\"created_by_user_id\":null,\"updated_by_user_id\":null,\"created_at\":\"2018-06-08T18:07:44.000Z\",\"updated_at\":\"2018-06-08T18:07:44.000Z\"}"
  recorded_at: Fri, 07 Jun 2019 18:54:32 GMT
recorded_with: VCR 2.9.2
