---
http_interactions:
- request:
    method: get
    uri: http://parse.name/names/parse.json?q=aiosefj%20poasjefah8w4foah4wfa&token=c104048a-1f32-467c-9022-4b90d8893f85
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Timeout:
      - '5'
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - W/"733075597233a6690b2ec96019fa19c6"
      Status:
      - 200 OK
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"id":null,"uuid":null,"language":"en","input":"aiosefj poasjefah8w4foah4wfa","parse_status":606,"parse_method":"R","parser_version":24,"contains_aka_or_fka":false,"people_cache":null,"organizations_cache":null,"job_titles_cache":null,"credentials_cache":null,"email_addresses_cache":null,"telephones_cache":null,"created_by_user_id":null,"updated_by_user_id":null,"created_at":null,"updated_at":null,"name_like_score":0}'
  recorded_at: Sat, 25 May 2019 23:16:22 GMT
recorded_with: VCR 4.0.0
