--- 
http_interactions: 
- request: 
    method: get
    uri: http://parse.name/names/parse.json?token=7d112490-ff1e-4759-9af1-a3b30a2cc87a&q=Bill+and+Melinda+Gates
    body: 
      string: ""
    headers: 
      timeout: 
      - "5"
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      etag: 
      - W/"211fe775b21e2774e692314ad13a2329"
      content-type: 
      - application/json; charset=utf-8
      status: 
      - 200 OK
    body: 
      string: "{\"name_like_score\":3,\"id\":9198819,\"uuid\":\"45c0a7eb-3001-401a-ace8-7f11d440a963\",\"language\":\"en\",\"input\":\"bill and melinda gates\",\"parse_status\":200,\"parse_method\":\"R\",\"parser_version\":24,\"contains_aka_or_fka\":false,\"people_cache\":[{\"id\":3184235,\"given_name\":\"Bill\",\"surname\":\"Gates\",\"secondary_name\":\"\",\"suffix\":\"\",\"prefix\":\"\",\"salutation\":\"\",\"alternate_name\":\"\",\"credentials\":\"\",\"uuid\":\"14c3dfb7-afb2-4fa9-8d21-d96b5ca43c7b\",\"language\":\"en\",\"gender\":null,\"created_by_user_id\":null,\"updated_by_user_id\":null,\"created_at\":\"2018-05-27T05:47:09.000Z\",\"updated_at\":\"2018-05-27T05:47:09.000Z\"}],\"organizations_cache\":[],\"job_titles_cache\":null,\"credentials_cache\":null,\"email_addresses_cache\":null,\"telephones_cache\":null,\"created_by_user_id\":null,\"updated_by_user_id\":null,\"created_at\":\"2019-05-28T22:52:33.000Z\",\"updated_at\":\"2019-05-28T22:52:33.000Z\"}"
  recorded_at: Fri, 07 Jun 2019 18:54:35 GMT
- request: 
    method: get
    uri: https://v2.parse.name/api/v2/names/parse?locale=en-US&q=Bill+and+Melinda+Gates
    body: 
      string: ""
    headers: 
      timeout: 
      - "5"
      authorization: 
      - 66039622-9040-4964-bfe2-8ce4d1176724
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      etag: 
      - W/"8d0bbda7e93c53b5942244b04fd48322"
      content-type: 
      - application/json; charset=utf-8
      status: 
      - 200 OK
    body: 
      string: "{\"base\":{\"input\":\"Bill and Melinda Gates\",\"locale\":\"en-US\"},\"name\":[{\"given_name\":\"Bill\",\"surname\":\"Gates\",\"input_placement_scores\":{\"[\\\"given_name\\\", \\\"surname\\\"]\":1.98,\"[\\\"surname\\\", \\\"given_name\\\"]\":0.02,\"max_candidate\":[\"given_name\",\"surname\"]},\"full_name\":\"Bill Gates\"},{\"given_name\":\"Melinda\",\"surname\":\"Gates\",\"input_placement_scores\":{\"[\\\"given_name\\\", \\\"surname\\\"]\":1.987,\"[\\\"surname\\\", \\\"given_name\\\"]\":0.013,\"max_candidate\":[\"given_name\",\"surname\"]},\"full_name\":\"Melinda Gates\"}]}"
  recorded_at: Fri, 07 Jun 2019 18:54:36 GMT
recorded_with: VCR 2.9.2
