---
http_interactions:
- request:
    method: get
    uri: http://v2.parse.name/api/v2/names/parse?locale=en-US&q=mr.%20tyler%20kenneth%20vannurden,%20President
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - 66039622-9040-4964-bfe2-8ce4d1176724
      Timeout:
      - '5'
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - W/"196076b8db5a2e18abe65e7b334970bf"
      Status:
      - 200 OK
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"base":{"input":"mr. tyler kenneth vannurden, President","locale":"en-US"},"name":[{"salutation":"Mr","given_name":"Tyler","secondary_name":"Kenneth","surname":"Vannurden","job_title":"President","input_placement_scores":{"[\"surname\",
        \"given_name\", \"secondary_name\"]":1.483,"[\"given_name\", \"secondary_name\",
        \"surname\"]":2.512,"[\"surname\", \"surname\", \"given_name\"]":0.439,"[\"given_name\",
        \"surname\", \"surname\"]":1.365,"[\"surname\", \"given_name\", \"surname\"]":2.235,"max_candidate":["given_name","secondary_name","surname"]},"full_name":"Tyler
        Kenneth Vannurden"}]}'
  recorded_at: Mon, 13 May 2019 01:51:38 GMT
recorded_with: VCR 4.0.0
