---
http_interactions:
- request:
    method: get
    uri: http://v2.parse.name/api/v2/names/parse?locale=en-US&q=Tyler%20and%20Nolan%20Vannurden
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - 66039622-9040-4964-bfe2-8ce4d1176724
      Timeout:
      - '5'
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - W/"646973053d39279b828c619199ad4f45"
      Status:
      - 200 OK
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"base":{"input":"Tyler and Nolan Vannurden","locale":"en-US"},"name":[{"given_name":"Tyler","surname":"Vannurden","input_placement_scores":{"[\"given_name\",
        \"surname\"]":1.514,"[\"surname\", \"given_name\"]":0.486,"max_candidate":["given_name","surname"]},"full_name":"Tyler
        Vannurden"},{"given_name":"Nolan","surname":"Vannurden","input_placement_scores":{"[\"given_name\",
        \"surname\"]":1.293,"[\"surname\", \"given_name\"]":0.707,"max_candidate":["given_name","surname"]},"full_name":"Nolan
        Vannurden"}]}'
  recorded_at: Mon, 13 May 2019 01:57:05 GMT
recorded_with: VCR 4.0.0
