--- 
recorded_with: VCR 2.9.2
http_interactions: 
- request: 
    method: get
    uri: https://v2.parse.name/api/v2/names/parse?locale=en-US&q=first+movers+advantage
    body: 
      string: ""
    headers: 
      timeout: 
      - "5"
      authorization: 
      - 66039622-9040-4964-bfe2-8ce4d1176724
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      content-type: 
      - application/json; charset=utf-8
      status: 
      - 200 OK
      etag: 
      - W/"85f729433daf42e17afa117cb0d45c90"
    body: 
      string: "{\"base\":{\"input\":\"First Movers Advantage\",\"locale\":\"en-US\"},\"organization\":[{\"name\":\"First Movers Advantage\"}]}"
  recorded_at: Fri, 21 Jun 2019 14:46:18 GMT
