---
http_interactions:
- request:
    method: get
    uri: http://v2.parse.name/api/v2/names/parse?locale=en-US&q=first%20movers%20advantage
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - 66039622-9040-4964-bfe2-8ce4d1176724
      Timeout:
      - '5'
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - W/"e9c965ecb910bd8ea4c2a6b9face669f"
      Status:
      - 200 OK
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"base":{"input":"first movers advantage","locale":"en-US"},"organization":[{"name":"First
        Movers Advantage"}]}'
  recorded_at: Sat, 25 May 2019 22:06:04 GMT
recorded_with: VCR 4.0.0
