--- 
http_interactions: 
- request: 
    method: get
    uri: https://v2.parse.name/api/v2/names/parse?locale=en-US&q=first+movers+advantage
    body: 
      string: ""
    headers: 
      timeout: 
      - "5"
      authorization: 
      - 66039622-9040-4964-bfe2-8ce4d1176724
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      etag: 
      - W/"e9c965ecb910bd8ea4c2a6b9face669f"
      content-type: 
      - application/json; charset=utf-8
      status: 
      - 200 OK
    body: 
      string: "{\"base\":{\"input\":\"first movers advantage\",\"locale\":\"en-US\"},\"organization\":[{\"name\":\"First Movers Advantage\"}]}"
  recorded_at: Fri, 07 Jun 2019 18:54:39 GMT
recorded_with: VCR 2.9.2
