--- 
http_interactions: 
- request: 
    method: get
    uri: https://v2.parse.name/api/v2/names/parse?locale=en-US&q=Tyler+and+Nolan+Vannurden
    body: 
      string: ""
    headers: 
      timeout: 
      - "5"
      authorization: 
      - 66039622-9040-4964-bfe2-8ce4d1176724
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      etag: 
      - W/"646973053d39279b828c619199ad4f45"
      content-type: 
      - application/json; charset=utf-8
      status: 
      - 200 OK
    body: 
      string: "{\"base\":{\"input\":\"Tyler and Nolan Vannurden\",\"locale\":\"en-US\"},\"name\":[{\"given_name\":\"Tyler\",\"surname\":\"Vannurden\",\"input_placement_scores\":{\"[\\\"given_name\\\", \\\"surname\\\"]\":1.514,\"[\\\"surname\\\", \\\"given_name\\\"]\":0.486,\"max_candidate\":[\"given_name\",\"surname\"]},\"full_name\":\"Tyler Vannurden\"},{\"given_name\":\"Nolan\",\"surname\":\"Vannurden\",\"input_placement_scores\":{\"[\\\"given_name\\\", \\\"surname\\\"]\":1.293,\"[\\\"surname\\\", \\\"given_name\\\"]\":0.707,\"max_candidate\":[\"given_name\",\"surname\"]},\"full_name\":\"Nolan Vannurden\"}]}"
  recorded_at: Fri, 07 Jun 2019 18:54:39 GMT
recorded_with: VCR 2.9.2
