--- 
recorded_with: VCR 2.9.2
http_interactions: 
- request: 
    method: get
    uri: http://parse.name/names/parse.json?token=7d112490-ff1e-4759-9af1-a3b30a2cc87a&q=Mark+Zuckerberg%2C+Facebook+Inc
    body: 
      string: ""
    headers: 
      timeout: 
      - "5"
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      content-type: 
      - application/json; charset=utf-8
      status: 
      - 200 OK
      etag: 
      - W/"db8761b7b7a62e5a635170477b06b04a"
    body: 
      string: "{\"name_like_score\":2,\"id\":9198820,\"uuid\":\"0cce1375-8325-4b03-bed6-9c009f11c772\",\"language\":\"en\",\"input\":\"mark zuckerberg, facebook inc\",\"parse_status\":200,\"parse_method\":\"R\",\"parser_version\":24,\"contains_aka_or_fka\":false,\"people_cache\":[],\"organizations_cache\":[{\"id\":489164,\"uuid\":\"39ce1b06-cd08-4cd4-9bdd-af30ae7f7c74\",\"name\":\"Mark Zuckerberg, Facebook Inc\",\"is_dba\":null,\"created_at\":\"2019-05-28T22:54:11.751Z\",\"updated_at\":\"2019-05-28T22:54:11.751Z\"}],\"job_titles_cache\":null,\"credentials_cache\":null,\"email_addresses_cache\":null,\"telephones_cache\":null,\"created_by_user_id\":null,\"updated_by_user_id\":null,\"created_at\":\"2019-05-28T22:54:12.000Z\",\"updated_at\":\"2019-05-28T22:54:12.000Z\"}"
  recorded_at: Fri, 21 Jun 2019 14:46:15 GMT
- request: 
    method: get
    uri: https://v2.parse.name/api/v2/names/parse?locale=en-US&q=Mark+Zuckerberg%2C+Facebook+Inc
    body: 
      string: ""
    headers: 
      timeout: 
      - "5"
      authorization: 
      - 66039622-9040-4964-bfe2-8ce4d1176724
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      content-type: 
      - application/json; charset=utf-8
      status: 
      - 200 OK
      etag: 
      - W/"08e4569dac1a6a1b1270c108c05570b3"
    body: 
      string: "{\"base\":{\"input\":\"Mark Zuckerberg, Facebook Inc\",\"locale\":\"en-US\"},\"name\":[{\"given_name\":\"Mark\",\"surname\":\"Zuckerberg\",\"input_placement_scores\":{\"[\\\"given_name\\\", \\\"surname\\\"]\":1.991,\"[\\\"surname\\\", \\\"given_name\\\"]\":0.009,\"max_candidate\":[\"given_name\",\"surname\"]},\"full_name\":\"Mark Zuckerberg\"}],\"organization\":[{\"name\":\"Facebook Inc\"}]}"
  recorded_at: Fri, 21 Jun 2019 14:46:15 GMT
